.container
  .result-facebook
    .result-facebook__header
      .result-facebook__header-top
        span.result-facebook__header-top__signal
        span.result-facebook__header-top__time
        span.result-facebook__header-top__battery
      .result-facebook__header-search
        .result-facebook__header-search__form
          span.result-facebook__header-search__form__icon
          input.result-facebook__header-search__form__input(type='text', placeholder='Search')
        span.result-facebook__header-profile-menu
    .result-facebook__create-post
      .result-facebook__create-post__status
        span.result-facebook__create-post__status__avatar
        .result-facebook__create-post__status__form
          input.result-facebook__create-post__status__form__input(type='text', placeholder="What's on your mind?")
      .result-facebook__create-post__tools
        span.result-facebook__create-post__tools__live Live
        span.result-facebook__create-post__tools__photo Photo
        span.result-facebook__create-post__tools__check-in Check In
    .result-facebook__tabs
      span.result-facebook__tabs__home
      span.result-facebook__tabs__friend
      span.result-facebook__tabs__chat
      span.result-facebook__tabs__public-mode
      span.result-facebook__tabs__menu
