.container
  .box-unoptimized-link
    .result-facebook
      .result-facebook__header
        .result-facebook__header-top
          img(src='assets/status-bar-link.png' height='9')
        .result-facebook__header-search
          .result-facebook__header-search__form
            span.result-facebook__header-search__form__icon
            input.result-facebook__header-search__form__input(type='text', placeholder='Search')
          span.result-facebook__header-profile-menu
      .result-facebook__create-post
        .result-facebook__create-post__status
          img(src='./assets/facebook/avatar.jpg', width='28.5', height='28.5')
          .result-facebook__create-post__status__form
            input.result-facebook__create-post__status__form__input(type='text', placeholder="What's on your mind?")
        .result-facebook__create-post__tools
          div.result-facebook__create-post__tools__live Live
          div.result-facebook__create-post__tools__photo Photo
          div.result-facebook__create-post__tools__check-in Check In
      .result-facebook__content-post
        .result-facebook__content-post__header
            img(src='./assets/facebook/avatar.jpg', width='28.5', height='28.5')
            .infor-name Lala
            .time Just now
              img(src='./assets/facebook/globe.svg')
        .result-facebook__content-post__unoptimized-link kennyiscool.com/ madeupwebsite.html
          .border-bottom
        .result-facebook__content-post__tools.row
          .result-facebook__content-post__tools__like Like
          .result-facebook__content-post__tools__comment Comment
          .result-facebook__content-post__tools__share Share
      .result-facebook__content-post.height-second-post
        .result-facebook__content-post__header
            img(src='./assets/facebook/avatar.jpg', width='28.5', height='28.5')
            .infor-name Lala
            .time Just now
              img(src='./assets/facebook/globe.svg')
        .result-facebook__content-post__status
          span Yes, it is. It’s tiny. It’s easy. It’s doable. And it’s applicable in most things you want to do or accomplish.
        img.result-facebook__content-post__image(src='./assets/facebook/imagetest.png')          
      .result-facebook__tabs
        .result-facebook__tabs__home
        .result-facebook__tabs__friend
        .result-facebook__tabs__chat
        .result-facebook__tabs__public-mode
        .result-facebook__tabs__menu
