.container
  .box
    .result-imessage
      .result-imessage__header
        .result-imessage__header-top
          span.result-imessage__header-top__status-bar
        .result-imessage__header-bottom
          .result-imessage__header-bottom-left
            img.result-imessage__header-bottom-left__back(src='./assets/imessage/back-chevron.svg')
          .result-imessage__header-bottom-center
            img.result-imessage__header-bottom-center__profile(src='./assets/imessage/avatar@3x.png')
            p.result-imessage__header-bottom-center__name Lala
          .result-imessage__header-bottom-right
            img.result-imessage__header-bottom-right__info(src="./assets/imessage/info-icon-inactive.svg")
      .result-imessage__body
        .result-imessage__body-sent.buble-msg-right
          img.result-imessage__body-sent-img(src="./assets/imessage/windmills@3x.png")
          .result-imessage__body-sent-content
            span.result-imessage__body-sent-content-title We’re set to reach 100% renewable energy — and it’s just the beginning
            p.result-imessage__body-sent-content-site blog.google
        .clearset
        .result-imessage__body-sent-blu Thanks to our savior!
        .clearset
        .result-imessage__body-sent-link.buble-msg-right
          .result-imessage__body-sent-link-text
            .result-imessage__body-sent-link-text-title Google
            .result-imessage__body-sent-link-text-subtitle google.co.id
          .result-imessage__body-sent-link-img
            img(src="./assets/imessage/google-logo@3x.png")
        .clearset
        .result-imessage__body-sent-status Read 2:55 PM
        .clearset
        .result-imessage__body-receive
          | Lol thanks for sharing, you should check this too!
        .clearset
        .result-imessage__body-receive-share.buble-msg-left
          img.result-imessage__body-receive-img(src="./assets/imessage/city@3x.png")
          .result-imessage__body-receive-share-content
            span.result-imessage__body-receive-share-content-title How to Become the Best in the World at What You Do - The Mission
            p.result-imessage__body-receive-share-content-site medium.com
      .result-imessage__footer
        .result-imessage__footer-left
          img.imessage-camera(src="./assets/imessage/take-or-send-photo-or-video-button.svg")
          img.imessage-heart(src="./assets/imessage/heart-beat.svg")
          img.imessage-store(src="./assets/imessage/image-edit.svg")
        .result-imessage__footer-right
          input.imessage-input-message(type="text" placeholder="iMessage")
          img.imessage-mic(src="./assets/imessage/tap-to-talk-button.svg")