.container
    .container-line
        .widget-line
            .header-line
                .header-common
                    img(src='assets/status-bar-dark.svg')
                .top-header-line.clearfix
                    .column-top-header-line.float-left
                        img(src='assets/line/back-icon.svg' width='8')
                    .column-top-header-line.float-left.column-top-header-line-2.text-center
                        p.text-center.text-capitalize.font-11.margin-b-0.name-chating-line lala
                        p.text-center.margin-b-0
                            img(src='assets/line/group.svg' width='17')
                    .column-top-header-line.float-left.column-top-header-line-3.text-right
                        span
                            img(src='assets/line/phone-icon@3x.png' width='13')
                        span
                            img(src='assets/line/show-more-icon.svg' width='14')
            .container-chat-box
                .time-chat-box-line
                    span Today
                .widget-friend-line
                    .avatar-friend-line
                        img(src='assets/line/bitmap@3x.png' width='25')
                    span.buble-chat-friend-line Hello! :)
                        .time-friend-line 2:00 PM
                    .link-friend-line
                        .time-friend-line 2:00 PM
                        p.font-11.margin-b-0 This is a really great article! You have to read this! Check this out..
                            span.color-link-line  https://medium.com/the-mission/how-to-become-the-best-in-the-world-at-what-you-do-328f7b358bdf#.ppc5e0twg
                        .description-link-line
                            p.margin-b-0.title-link-line How to become the Be…
                            p.margin-b-0.detail-des-friend-line Here are the Spanish, Italian and Japanese translation of..
                            .photo-link-line
                                img(src='assets/line/image@3x.png' width='34')
                .Widget-myself-line
                    span Hi Laa
                        label.time-myself-line
                            | Read
                            br
                            | 2:22 PM
                    span Thanks! Sure, this one is really good too
                        label.time-myself-line
                            | Read
                            br
                            | 2:22 PM
                    .link-myselft-line
                        label.time-myself-line
                            | Read
                            br
                            | 2:22 PM
                        p.margin-b-3.color-link-line.font-11 https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678#.swzq4f8l9
                        .description-link-line
                            p.margin-b-0.title-link-line How to become the Be…
                            p.margin-b-0.detail-des-friend-line Here are the Spanish, Italian and Japanese translation of..
                            .photo-link-line
                                img(src='assets/line/image@3x.png' width='34')
                    span You should read the article too, it’s great!
                        label.time-myself-line
                            | Read
                            br
                            | 2:22 PM

            .footer-line
                input(type='text')
                span.plus-line
                    img(src='assets/line/plus-icon.svg' width='15')
                span.smiley-line
                    img(src='assets/line/smiley-icon.svg' width='15')
                span.micro-line
                    img(src='assets/line/mic-icon.svg' width='10')
