.container
    .container-line-timeline
        .widget-line-timeline
            .header-line-timeline
                .header-top-line-timeline
                    img(src='assets/status-bar-dark.svg')
            .post-time-line
                .header-post-time-line
                    .profile-picture.line-timeline
                        img(src='assets/line-timeline/profil-picture@3x.png' width='26')
                    p.font-10.text-capitalize.margin-b-0 lala
                    p.font-8-5.color-grey.margin-b-0 Just now
                p.content-post-time-line This is a great personal website, also be an example of a not optimized web
                    span.color-link-timeline  https://kenny.is/cool
                p.margin-b-0.action-post-time-line
                    span
                        img(src='assets/line-timeline/smiley-icon.svg' width='15')
                    span
                        img(src='assets/line-timeline/comment-icon.svg' width='17')

            .post-link-time-line
                .header-post-time-line
                    .profile-picture.line-timeline
                        img(src='assets/line-timeline/profil-picture@3x.png' width='26')
                    p.font-10.text-capitalize.margin-b-0 lala
                    p.font-8-5.color-grey.margin-b-0 Just now
                p.description-link-time-line The optimized one:
                    span.color-link-timeline  https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678#.swzq4f8l9
                .widget-info-link-timeline
                    img(src='assets/messenger-facebook/image@3x.png' width='100%')
                    .detail-info-url-line-timeline
                        p.title-url-line-timeline.font-10 How to be 1% Better Every Day (The Kaizen Approach to Self-improvement) - The Mission
                        p.font-8-5.margin-b-0.color-grey “Compounding is the greatest mathematical discovery of all ti…
                        p.font-8-5.color-grey.margin-b-0 medium.com
                p.margin-b-0.action-post-time-line
                    span
                        img(src='assets/line-timeline/smiley-icon.svg' width='15')
                    span
                        img(src='assets/line-timeline/comment-icon.svg' width='17')

            .footer-line-timeline.clearfix
                span
                    img(src='assets/line-timeline/user-icon@3x.png' width='17')
                span
                    img(src='assets/line-timeline/chat-icon.svg' width='18')
                span
                    img(src='assets/line-timeline/recent-icon.svg' width='16')
                span
                    img(src='assets/line-timeline/line-today-icon.svg' width='15')
                span
                    img(src='assets/line-timeline/menu-icon.svg' width='21')
