.container
    .container-messenger-fb
        .widget-messenger-fb
            .header-messenger-fb
                .header-common
                    img(src='assets/status-bar-dark.png', height='10')
                .top-header-messenger.clearfix
                    .column-top-header-ms.float-left.column-top-header-ms-1
                        img(src='assets/messenger-facebook/back-chevron.svg')
                        span.color-link-messenger Home (1)
                    .column-top-header-ms.float-left.column-top-header-ms-2
                        p.text-center.margin-b-0.font-10
                            span.text-capitalize lala
                            span.margin-l-5
                                img(src='assets/messenger-facebook/path-25.svg')
                        p.text-center.color-grey.font-8 Active now
                    .column-top-header-ms.float-left.text-right.column-top-header-ms-2
                        span
                            img(src='assets/messenger-facebook/phone-icon@3x.png' width='14')
                        span
                            img(src='assets/messenger-facebook/video-icon@3x.png' width='14')
            .widget-messenger
                .widget-messenger-myselft
                    .single-messenger-myself
                        span Hello!
                    .single-messenger-myself
                        span I want to show you the example of unoptimized link. Here it is
                    .single-messenger-myself
                        span.color-link-messenger http://kenny.is/cool
                .widget-messenger-friend
                    .avatar-messenger-fb
                        span
                            img(src='assets/messenger-facebook/pic@3x.png' width='30')
                    .single-messenger-friend
                        span Thanks for showing me. This  is the optimized one
                    .share-link-messenger-friend
                        .read-messenger-fb
                        p.link-share-url.margin-b-0 https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678#.ud11cfnab
                        img(src='assets/messenger-facebook/image@3x.png' width='100%')
                        .description-share-messenger-fb
                            p.margin-b-5.font-10 How to be 1% Better Every Day (The Kaizen Approach to Self-improvement) - The Mission
                            p.margin-b-0.color-grey.font-9 “Compounding is the greatest mathematical discovery of all time.” — Albert Einstein
                            p.margin-b-0.color-grey.font-9 medium.com
            .footer-messenger-fb
                input(type='text' placeholder='Type a message…')
                .action-messenger-fb.clearfix
                    span
                        img(src='assets/messenger-facebook/type.svg' width='20')
                    span
                        img(src='assets/messenger-facebook/camera.svg' width='17')
                    span
                        img(src='assets/messenger-facebook/photos.svg' width='15')
                    span
                        img(src='assets/messenger-facebook/stickers@3x.png' width='16')
                    span
                        img(src='assets/messenger-facebook/gif@3x.png' width='19')
                    span
                        img(src='assets/messenger-facebook/microphone.svg' width='10')
                    span
                        img(src='assets/messenger-facebook/location.svg' width='11')
                    span
                        img(src='assets/messenger-facebook/elipses.svg' width='18')
                    span
                        img(src='assets/messenger-facebook/like.svg' width='14')
