.container
  .skype
    .skype__container
      .skype__header
        .header-common
          img(src="assets/status-bar-dark.png", height="10")
        .skype__header-actions.clearfix
          .skype__header-actions__column.float-left.text-left
            img(src="assets/skype/icon-back.svg")
          .skype__header-actions__column.float-left
            p.skype__header__name.color-primary.text-center.text-capitalize
              img(src="assets/skype/icon-status-away.svg")
              |Lala Skype
            p.skype__header__status.text-center.text-capitalize Away
          .skype__header-actions__column.float-left.text-right
            img(src="assets/skype/icon-video.svg").skype__header__vcall
            img(src="assets/skype/icon-phone.png").skype__header__call
      .skype__body
        p.skype__time-chat.text-center Friday 11:05 PM
        .skype__entries.clearfix
          .entry
            .entry__img
              img(src="assets/skype/icon-avatar.png")
            .entry__message
              .entry__message__text Hay
            .entry__message
              .entry__message__text Just want to show you an example of unoptimized link
            .entry__message
              .entry__message__text.entry__message__text--link http://kenny.is/cool
          .entry.me
            .entry__message
              .entry__message__text Ok, wait until tomorrow
          p.skype__time-chat.text-center Saturday 1:56 PM
          .entry.me
            .entry__message.entry__message--attached
              .entry__message__pic
                .entry__message__pic__overlay
                img(src="assets/skype/pic-attached.jpg")
                .entry__message__pic__title How to be 1% Better Every Day (The Kaizen Approach to Self-improvement) - The Mission
                p.entry__message__pic__link
                  img(src="assets/skype/logo-medium.png")
                  |Medium
            .entry__message__status
              |Send
              img(src="assets/skype/message-status.svg")
      .skype__footer
        input(type="text", placeholder="Type a message here")
        img(src="assets/skype/icon-actions-smiley.svg").icon-smiley
        .skype__footer-actions.b-layout
          .layout-left.skype__footer-actions__item
            .center-item
              .inner
                img(src="assets/skype/icon-actions-pic.svg").icon-pic
          .layout-left.skype__footer-actions__item
            .center-item
              .inner
                img(src="assets/skype/icon-actions-camera.svg").icon-camera
          .layout-left.skype__footer-actions__item
            .center-item
              .inner
                img(src="assets/skype/icon-actions-video.svg").icon-video
          .layout-left.skype__footer-actions__item
            .center-item
              .inner
                img(src="assets/skype/icon-actions-localtion.png").icon-localtion
          .layout-left.skype__footer-actions__item
            .center-item
              .inner
                img(src="assets/skype/icon-actions-card.svg").icon-card