.container
    .container-slack
        .widget-slack
            .header-slack
                .header-common
                    img(src='assets/status-bar-dark.svg')
                .top-header
                    .slack-logo.text-right
                        img(src='assets/slack/slack-logo.png' width='21')
                    .widget-top-header.clearfix
                        span.float-left.bold-lato @lala
                        span.dot-status-slack.float-left
                        span.float-left
                            img(src='assets/slack/arrow-down.svg')
                        span.float-right
                            img(src='assets/slack/opsi-icons.svg')
                        span.float-right.search-icon
                            img(src='assets/slack/search-icon.svg')

            .row-post-slack
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-1@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize katie
                        span.time 5:00 am
                    p This is the unoptimized link
                        span.link-color  http://kenny.is/cool

            .row-post-slack
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-2@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize lala
                        span.time 5:00 am
                    p.margin-b-0 Check this out, this is optimized one
                    p.link-color.margin-b-5 https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678#.swzq4f8l9
                    .share-slack
                        p.margin-b-0
                            span
                                img(src='assets/slack/writer-logo@3x.png' width='13')
                            span.text-capitalize medium
                        p.bold-lato.link-color.margin-b-0.text-capitalize how to be 1% better  every day (the kaizen approach to self-improvement) - the mission
                        p.margin-b-0 "Compounding is the greatest mathematical discovery of all time" - Albert Einstein
                        p.margin-b-0.bold-lato Reading time
                        p.margin-b-0 5 min read
                        p.margin-b-5.color-grey Dec 9th, 2016 at 12:03 am
                        .div
                            img(src='assets/slack/image@3x.png' width='100%')

            .footer-slack
                .add-more-slack
                    span
                        img(src='assets/slack/plus-icon.svg')
                input(type='text' placeholder='Message @edwordss')
