.container
    .container-slack-small-thumbnail
        .widget-slack
            .header-slack
                .header-common
                    img(src='assets/status-bar-dark.png', height='10')
                .top-header
                    .slack-logo.text-right
                        img(src='assets/slack/slack-logo.png' width='21')
                    .widget-top-header.clearfix
                        span.float-left.bold-lato @lala
                        span.dot-status-slack.float-left
                        span.float-left
                            img(src='assets/slack/arrow-down.svg')
                        span.float-right
                            img(src='assets/slack/opsi-icons.svg')
                        span.float-right.search-icon
                            img(src='assets/slack/search-icon.svg')

            .row-post-slack
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-1@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize katie
                        span.time 5:00 am
                    p This is the unoptimized link
                        span.link-color  http://kenny.is/cool

            .row-post-slack.second-post
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-2@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize edwords
                        span.time 5:52 PM
                    p.margin-b-0 I found this article, check this out..
                    p.link-color.margin-b-5 https://blog.google/topics/environment/100-percent-renewable-energy/
                    .share-slack
                        img.img-left-side(src='assets/slack/pic@3x.png' width='37' height='23')
                        p.margin-b-0
                            span
                                img(src='assets/slack/writer-logo@3x.png' width='13')
                            span.text-capitalize Google
                        p.title.bold-lato.link-color.margin-b-0 We’re set to reach 100% renewable energy — and it’s just the beginning 
                        p.desc.margin-b-0 In 2017, Google will reach 100%renewable energy for our global operations — both data centers and offices. To reach this goal we’ll be directly buying enough wind and solar electricity annually to account for every unit of electricity our operations consume.                        
                        p.margin-b-5.color-grey.date Dec 6th, 2016 at 4:00 pm
            .row-post-slack.third-post.overflow-h
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-2@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize lala
                        span.time 5:00 am
                    p.margin-b-0 Check this out, this is optimized one
                    p.link-color.margin-b-5 https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678#.swzq4f8l9
                    .share-slack
                        p.margin-b-0
                            span
                                img(src='assets/slack/writer-logo@3x.png' width='13')
                            span.text-capitalize medium
                        p.bold-lato.link-color.margin-b-0.text-capitalize how to be 1% better  every day (the kaizen approach to self-improvement) - the mission
                        p.margin-b-0 "Compounding is the greatest mathematical discovery of all time" - Albert Einstein

            .footer-slack
                span.mess Message yourself
                span.float-r
                    img(src='assets/slack/icon-5-resize.svg' width='11' height='12')
                .margin-t-5.padding-t-5
                  span
                      img(src='assets/slack/icon-1-mention.svg' width='15' height='14')
                  span.middle-image
                      img(src='assets/slack/icon-2-command.svg' width='13' height='13')
                  span
                      img(src='assets/slack/icon-3-attach-file.svg' width='13' height='14')
                  span.send.float-r Send
                  span.float-r.middle-image
                      img(src='assets/slack/icon-4-image.svg' width='17' height='14')
