.container
    .container-slack
        .widget-slack
            .header-slack
                .header-common
                    img(src='assets/status-bar-dark.png', height='10')
                .top-header
                    .slack-logo.text-right
                        img(src='assets/slack/slack-logo.png' width='21')
                    .widget-top-header.clearfix
                        span.float-left.bold-lato @lala
                        span.dot-status-slack.float-left
                        span.float-left
                            img(src='assets/slack/arrow-down.svg')
                        span.float-right
                            img(src='assets/slack/opsi-icons.svg')
                        span.float-right.search-icon
                            img(src='assets/slack/search-icon.svg')

            .row-post-slack.overflow-h
                .profile-picture.text-right.margin-top--15
                    img(src='assets/slack/profil-pic-1@3x.png' width='26')
                .user-post-slack.margin-top--3              
                    p This is the unoptimized link
                        span.link-color  http://kenny.is/cool

            .row-post-slack
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-2@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize lala
                        span.time 5:51 PM
                    p.margin-b-5.margin-top--5 See this!
                      span.link-color.margin-l-2 https://biz.world.waze.com
                    .share-slack.margin-t-5
                      p.margin-b-0
                          span
                              img(src='assets/slack/writer-logo@3x.png' width='13')
                          span.text-capitalize biz.waze.com
                      p.title.bold-lato.link-color.margin-b-0.text-capitalize Waze Advertisers Dashboard
                      p.decs.margin-b-0 Show your business on the Waze map to reach drivers nearby and daily commuters in your area.
                    .middle-post
                      .title and
                      .decs https://www.waze.com/brands
                    .share-slack.margin-t-5
                      p.margin-b-0
                          span.text-capitalize wearebash.com
                      p.title.bold-lato.link-color.margin-b-0.text-capitalize Bash - Party on your couch | Bash - Party on  your couch
                      p.decs.margin-b-0 Watch live shows with your friends like never before.
            .row-post-slack.third-post.overflow-h
                .profile-picture.text-right
                    img(src='assets/slack/profil-pic-2@3x.png' width='26')
                .user-post-slack
                    p.info-user-posted.margin-b-0
                        span.bold-lato.text-capitalize edwords
                        span.time 5:52 PM
                    p.margin-b-0.margin-top--5 I found this article, check this out..
                    p.link-color.margin-b-5 https://blog.google/topics/environment/100-percent-renewable-energy/
                    .share-slack
                        p.margin-b-0
                            span
                                img(src='assets/slack/writer-logo@3x.png' width='13')
                            span.text-capitalize Google
                        p.title.bold-lato.link-color.margin-b-0.text-capitalize.width-176 We’re set to reach 100% renewable energy — and it’s just the beginning 
                        p.decs.margin-b-0 In 2017, Google will reach 100%renewable energy for our global operations — both data centers and offices. To reach this goal we’ll be directly buying enough wind and solar electricity annually to account for every unit of electricity our operations consume.
            .footer-slack
                span.mess Message yourself
                span.float-r
                    img(src='assets/slack/icon-5-resize.svg' width='11' height='12')
                .margin-t-5.padding-t-5
                  span
                      img(src='assets/slack/icon-1-mention.svg' width='15' height='14')
                  span.middle-image
                      img(src='assets/slack/icon-2-command.svg' width='13' height='13')
                  span
                      img(src='assets/slack/icon-3-attach-file.svg' width='13' height='14')
                  span.send.float-r Send
                  span.float-r.middle-image
                      img(src='assets/slack/icon-4-image.svg' width='17' height='14')
