.container
  .snapchat
    .snapchat__container
      .snapchat__header
        .header-common
          img(src="assets/status-bar-dark.png", height="10")
        .snapchat__header-actions.clearfix
          .snapchat__header-actions__column.float-left.text-left
            img(src="assets/snapchat/burger-menu.svg")
          .snapchat__header-actions__column.float-left
            p.color-primary.text-center.text-capitalize.font-14 Lala
          .snapchat__header-actions__column.float-left.text-right
            img(src="assets/snapchat/angle-right.svg")
      .snapchat__body
        p.snapchat__time-chat.text-uppercase today
        .snapchat__entries
          .entry
            .entry__name
              span.text-uppercase lala
            .entry__message
              span.entry__message__text Hey!
          .entry.me
            .entry__name
              span.text-uppercase me
            .entry__message
              span.entry__message__text Check it out!
              .attached-pic.b-layout
                .attached-pic__img.layout-left
                  img(src="assets/snapchat/attached-image-1.jpg")
                .attached-pic__info.layout-middle
                  .center-item
                    .inner
                      h3.attached-pic__info__title kenny.is 404
                      p.attached-pic__info__desc kenny.is
              span.entry__message__text And this is as an optimized web!
              .attached-pic.b-layout
                .attached-pic__img.layout-left
                  img(src="assets/snapchat/attached-image-2.jpg")
                .attached-pic__info.layout-middle
                  .center-item
                    .inner
                      h3.attached-pic__info__title How to be 1% Better Every Day (The Kaizen Approach to Self-improvement)-…
                      p.attached-pic__info__desc medium.co
          .entry
            .entry__name
              span.text-uppercase lala
            .entry__message
              span.entry__message__text Cool! Thanks for sharing! :)
          .entry.me
            .entry__name
              span.text-uppercase me
            .entry__message
              span.entry__message__text I found this article on google blog. It’s worth reading TOO, check this out! <u>https://blog.google/topics/environment/100-percent-renewable-energy/</u>
              .attached-pic.b-layout
                .attached-pic__img.layout-left
                  img(src="assets/snapchat/attached-image-2.jpg")
                .attached-pic__info.layout-middle
                  .center-item
                    .inner
                      h3.attached-pic__info__title We’re set to reach 100% renewable energy - and it’s just the beginning
                      p.attached-pic__info__desc blog.google
      .snapchat__footer
        input(type="text", placeholder="Send a chat")
        .snapchat__footer-actions.b-layout.display--flex
          .layout-left.snapchat__footer-actions__item
            .center-item
              .inner
                img(src="assets/snapchat/picture.svg")
          .layout-left.snapchat__footer-actions__item
            .center-item
              .inner
                img(src="assets/snapchat/phone-icon.png")
          .layout-left.snapchat__footer-actions__item
            .center-item
              .inner
                img(src="assets/snapchat/capture-icon.svg")
          .layout-left.snapchat__footer-actions__item
            .center-item
              .inner
                img(src="assets/snapchat/video-icon.svg")
          .layout-left.snapchat__footer-actions__item
            .center-item
              .inner
                img(src="assets/snapchat/smile-icon.svg")