.container
    .container-telegram
        .widget-telegram
            .header-telegram
                .header-telegram-bar
                    img(src='assets/status-bar-dark.png', height='10')
                .top-header-telegram.clearfix
                    .column-top-header-telegram.float-left.column-top-header-telegram-1
                        span
                            img(src='assets/telegram/back-chevron.svg')
                    .column-top-header-telegram.float-left.column-top-header-telegram-2
                        p.text-center.margin-b-0.font-11.name-header-telegram
                            span.text-capitalize lala
                        p.text-center.color-grey.status-telegram Online
                    .column-top-header-telegram.float-left.text-right.column-top-header-telegram-2
                        span
                            img(src='assets/telegram/profil-pic@3x.png' width='26')
            .widget-telegram
                .chat-friend-telegram
                    span.buble-chat-friend-telegram Hey hey hey! :D
                        label.time-chat-friend-telegram 3:25 pm
                    .link-share-friend-telegram
                        label.time-chat-friend-telegram 3:25 pm
                        p.url-friend-telegram I found this article on google blog. It’s really cool, you should read it!
                            span.color-link-telegram  https://www.blog.google/topics/environment/100-percent-renewable-energy/
                        .detail-link-friend-telegram
                            p.google Google
                            .clearfix
                                p.description-link-telegram.margin-b-0
                                    span.photo-description-telegram-friend
                                        img(src='assets/telegram/pic@3x.png' width='36')
                                    span.title-link-telegram We’re set to reach 100% renewable energy — and it’s just the beginning
                                    span.detail-des-url In 2017, Google will reach 100% renewable energy for our global operations — both data centers and offices. To reach this goal we’ll be directly buying enough wind and solar electricity annually to account for every unit of electricity our operations consume.
                .time-main-chat-telegram
                    span Desember 31
                .chat-myself-telegram
                    .share-link-myself-telegram
                        p.link-myselft-telegram.margin-b-3.color-link-telegram https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678
                        .photo-link-myselft
                            p.medium-telegram Medium
                            img(src='assets/messenger-facebook/image@3x.png' width='100%')
            .footer-telegram
                input(type='text' placeholder='Message')
                .paper-clip-telegram
                    img(src='assets/telegram/paperclip-archive@3x.png' width='17')
                .mic-icon-telegram
                    img(src='assets/telegram/mic-icon@3x.png' width='11')



                
