.container
    .container-twitter-muti
        .widget-twitter
            .header-twitter
                .header-bar-twitter
                    img(src='assets/status-bar-dark.png' height='10')
                .top-header-twitter.clearfix
                    .column-top-header-twitter.float-left.column-top-header-twitter-1
                        img(src='assets/twitter/add-contact.svg' width='20')
                    .column-top-header-twitter.float-left.column-top-header-twitter-2.text-center
                        img(src='assets/twitter/tweeter-logo.svg' width='17.5')
                    .column-top-header-twitter.float-left.column-top-header-twitter-2.text-right
                        img(src='assets/twitter/compose-tweet.svg' width='16')
            .first-post-twitter
                .avatar-twitter
                    img(src='assets/twitter/profile-picture@3x.png' width='38')
                .arrow-twitter
                    img(src='assets/twitter/triangle-2.svg' width='6.3')
                .title-post-twitter
                    p.font-11.margin-b-0
                        span.name-twitter.text-capitalize lala
                        span @lalaweet
                        span.dot-twetter .
                        span 15m
                .margin-b-0.text-post-twetter tes unoptimized link 
                  span.link-twetter http://kenny.is/cool
                .action-post-twetter.clearfix.margin-t-0
                    span
                        img(src='assets/twitter/reply.svg' width='11.7')
                    span
                        img(src='assets/twitter/retweet.svg' width='16')
                    span
                        img(src='assets/twitter/show-the-love.svg' width='10.2')
                    span
                        img(src='assets/twitter/messages.svg' width='9.8')
            .first-post-twitter
                .avatar-twitter
                    img(src='assets/twitter/profile-picture@3x.png' width='38')
                .arrow-twitter
                    img(src='assets/twitter/triangle-2.svg' width='6.3')
                .title-post-twitter
                    p.font-11.margin-b-0
                        span.name-twitter.text-capitalize lala
                        span @lalaweet
                        span.dot-twetter .
                        span 15m
                p.margin-b-0.text-post-twetter There is so much competition — thousands or millions of people competing to do exactly what you want to do. So true!
                .link-share-twetter
                    img(src='assets/twitter/image-post.png' width='100%')
                    .detail-link-twetter
                        p.title-link-tweeter How to Become the Best in the World at What You Do - The Mission
                        p.medium-twetter medium.com
                .action-post-twetter.clearfix
                    span
                        img(src='assets/twitter/reply.svg' width='11.7')
                    span
                        img(src='assets/twitter/retweet.svg' width='16')
                    span
                        img(src='assets/twitter/show-the-love.svg' width='10.2')
                    span
                        img(src='assets/twitter/messages.svg' width='9.8')
            .first-post-twitter.third-post-twitter
                .avatar-twitter
                    img(src='assets/twitter/profile-picture-1@3x.png' width='38')
                .arrow-twitter
                    img(src='assets/twitter/triangle-2.svg' width='6.3')
                .title-post-twitter
                    p.font-11.margin-b-0
                        span.name-twitter.text-capitalize sanna
                        span @heysansa
                        span.dot-twetter .
                        span 18m
                p.margin-b-0.text-post-twetter Every year people search on Google trillions of times; every minute people upload more than 400 hours of YouTube vid
                .link-share-twetter.second-post-twetter
                    .photo-second-post-twetter
                        img(src='assets/twitter/windmills.png' width='57' height='57')
                    .detail-link-twetter
                        p.title-link-tweeter We’re set to reach 100% renewable energy — and it’s…
                        p.medium-twetter blog.google
                .action-post-twetter.clearfix
                    span
                        img(src='assets/twitter/reply.svg' width='11.7')
                    span
                        img(src='assets/twitter/retweet.svg' width='16')
                    span
                        img(src='assets/twitter/show-the-love.svg' width='10.2')
                    span
                        img(src='assets/twitter/messages.svg' width='9.8')
            .footer-twetter.clearfix
                .column-footer-twetter
                    p.icon-twetter
                        img(src='assets/twitter/home.svg' width='20')
                    p.first-action-twetter Home
                .column-footer-twetter
                    p.icon-twetter
                        img(src='assets/twitter/search.svg' width='14.1')
                    p Explore
                .column-footer-twetter
                    p.icon-twetter
                        img(src='assets/twitter/notif-icon.svg' width='13')
                    p Notifications
                .column-footer-twetter
                    p.icon-twetter
                        img(src='assets/twitter/messages-1.svg' width='14.6')
                    p Messages
                .column-footer-twetter
                    p.icon-twetter
                        img(src='assets/twitter/me.svg' width='15')
                    p Me
