.container
    .container-wechat
        .widget-wechat
            .header-wechat
                .header-common
                    img(src='assets/status-bar-link.png' height='9')
                .top-header-wechat.clearfix
                    .column-top-header-wechat.float-left.column-top-header-wechat-1
                        img(src='assets/wechat/path-12.svg' width='8')
                        span.color-link-messenger Wechat
                    .column-top-header-wechat.float-left.column-top-header-wechat-2.text-center
                        span.text-capitalize lala
                    .column-top-header-wechat.float-left.column-top-header-wechat-2.text-right
                        img(src='assets/wechat/person-icon.svg' width='11')
            .time-chat-wechat.text-center
                span 8:01 AM
            .chat-friend-wechat
                .row-chat-friend
                    .avatar-wechat
                        img(src='assets/wechat/avatar@3x.png' width='29')
                    span Hi, Good morning! :)
                .row-chat-friend
                    .avatar-wechat
                        img(src='assets/wechat/avatar@3x.png' width='29')
                    span Can you please show me the unoptimized & optimized web?
                .row-chat-friend
                    .avatar-wechat
                        img(src='assets/wechat/avatar@3x.png' width='29')
                    span Found this on google blog, you should check it
                        i.color-link-messenger  https://blog.google/topics/environment/100-percent-renewable-energy/
            .time-chat-wechat.text-center
                span 8:05 AM
            .chat-myself-friend
                .row-chat-myself
                    .avatar-unknown
                        img(src='assets/wechat/avatar-unknown@3x.png' width='29')
                    span Hi! This is the example of a web that isn’t optimized
                .row-chat-myself
                    .avatar-unknown
                        img(src='assets/wechat/avatar-unknown@3x.png' width='29')
                    span.color-link-messenger http://kenny.is/cool
                .row-chat-myself
                    .avatar-unknown
                        img(src='assets/wechat/avatar-unknown@3x.png' width='29')
                    span And this one is the optimized website
                .row-chat-myself
                    .avatar-unknown
                        img(src='assets/wechat/avatar-unknown@3x.png' width='29')
                    .link-share-wechat
                        p.margin-b-3.text-left.font-11 How to be 1% Better Every Day (The Kaizen Approach to Self-i…
                        p.color-grey.description-wechat https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-i…
            .footer-wechat
                .sound-wechat
                    img(src='assets/wechat/voice-message.svg' width='20')
                .icon-wechat
                    img(src='assets/wechat/emoji-stickers.svg' width='20')
                .icon-plus-wechat
                    img(src='assets/wechat/more-button.svg' width='20')
                input(type='text')
