.container
  .box
    .result-whatsapp
      .result-whatsapp__header
        .result-whatsapp__header-top
          span.result-whatsapp__header-top__status-bar
        .result-whatsapp__header-bottom
          .result-whatsapp__header-bottom-left
            img.result-whatsapp__header-bottom-left__back(src='./assets/whatsapp/back-chevron.svg')
            img.result-whatsapp__header-bottom-left__profile(src='./assets/whatsapp/profil-picture@3x.png')
            span.result-whatsapp__header-bottom-left__name Lala
          .result-whatsapp__header-bottom-right
            img.result-whatsapp__header-bottom-right__phone(src="./assets/whatsapp/phone-icon.png")
            img.result-whatsapp__header-bottom-right__video(src="./assets/whatsapp/video-icon.svg")
      .result-whatsapp__body
        .result-whatsapp__body-info 
          span.result-whatsapp__body-info-time Today
        .result-whatsapp__body-textbox
          .result-whatsapp__body-textbox-right.wa-buble-right
            .result-whatsapp__body-textbox-right-share
              .result-whatsapp__body-textbox-right-share-paragraph
                .result-whatsapp__body-textbox-right-share-paragraph-title
                  | How to Become the Best in the World at What You Do - The Mission
                .result-whatsapp__body-textbox-right-share-paragraph-subtitle
                  | Here are the Spanish, Italian, and Japanese  translations of this article.
                .result-whatsapp__body-textbox-right-share-paragraph-link medium.com
              .result-whatsapp__body-textbox-right-share-image
                img(src="./assets/whatsapp/city@3x.png")
            .clearset
            .result-whatsapp__body-textbox-right-content
              | “How to Become the Best in the World at What You Do” is a great article!
              a(href="#")  https://medium.com/the-mission/how-to-become-the-best-in-the-world-at-what-you-do-328f7b358bdf#.ppc5e0twg
            .result-whatsapp__body-textbox-right-time.abduct-time 6:51PM
          .result-whatsapp__body-textbox-left.separate-message
            .result-whatsapp__body-textbox-left-content
              | Thx! This is great article too!
            .result-whatsapp__body-textbox-left-time 6:51PM
          .result-whatsapp__body-textbox-left.wa-buble-left
            .result-whatsapp__body-textbox-left-share
              .result-whatsapp__body-textbox-left-share-paragraph
                .result-whatsapp__body-textbox-left-share-paragraph-title
                  | How to be 1% Better Every Day (The Kaizen Approach to Self-improvement) - The Mission
                .result-whatsapp__body-textbox-left-share-paragraph-subtitle
                  | “Compounding is the greatest mathematical discovery of all time.” — Albert Einstein
                .result-whatsapp__body-textbox-left-share-paragraph-link medium.com
              .result-whatsapp__body-textbox-left-share-image
                img(src="./assets/whatsapp/image@3x.png")
            .clearset
            .result-whatsapp__body-textbox-left-content
              | “How to be 1% Better Every Day (The Kaizen Approach to Self-improvement)” @Alltopstartups 
              a(href="#") https://medium.com/the-mission/get-1-better-every-day-the-kaizen-approach-to-self-improvement-b79c9e045678
            .result-whatsapp__body-textbox-left-time.abduct-time 6:51PM
      .result-whatsapp__footer
        .result-whatsapp__footer-left
          img.result-whatsapp__footer-left__plus(src="./assets/whatsapp/plus-icon.svg")
          input.result-whatsapp__footer-left__write(type="text")
        .result-whatsapp__footer-right
          img.result-whatsapp__footer-right__camera(src="./assets/whatsapp/camera-icon@3x.png")
          img.result-whatsapp__footer-right__divider(src="./assets/whatsapp/dots-icon@3x.png")
          img.result-whatsapp__footer-right__mic(src="./assets/whatsapp/mic-icon@3x.png")