doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    title test
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    .container
      .row.clearfix
        .col-sm-6(style='margin-bottom: 30px')
          span Facebook
          include _fb.pug
        .col-sm-6(style='margin-bottom: 30px')
          span twitter
          include _twitter.pug
        .col-sm-6(style='margin-bottom: 30px')
          span We chat
          include _wechat.pug 
        .col-sm-6(style='margin-bottom: 30px')
          span Whatsapp timeline
          include _whatsapp.pug
        .col-sm-6(style='margin-bottom: 30px')
          span Line
          include _line.pug
        .col-sm-6(style='margin-bottom: 30px')
          span Line timeline
          include _linetimeline.pug
        .col-sm-6(style='margin-bottom: 30px')
          span Messenger FB
          include _messengerfb.pug
        .col-sm-6(style='margin-bottom: 30px')
          span Slack
          include _slack.pug
        .col-sm-6(style='margin-bottom: 30px')
          span Skype
        .col-sm-6(style='margin-bottom: 30px')
          span imessage
          include _imessage.pug
        .col-sm-6(style='margin-bottom: 30px')
          span Snapchat
          include _snapchat.pug
        .col-sm-6(style='margin-bottom: 30px')
          span telegram
          include _telegram.pug
