doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    title test
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    .container
      .row.clearfix
        .col-sm-6(style='margin-bottom: 30px')
          include _fb.pug
        .col-sm-6(style='margin-bottom: 30px')
          include _slack.pug
        .col-sm-6(style='margin-bottom: 30px')
          include _messengerfb.pug
        .col-sm-6(style='margin-bottom: 30px')
          include _wechat.pug
        .col-sm-6(style='margin-bottom: 30px')
          include _linetimeline.pug
        .col-sm-6(style='margin-bottom: 30px')
          include _line.pug

